
@{
    ViewData["Title"] = "InvalidDetails";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Invalid User Name or Password</h1>
            <a href="@Url.Action("Create","Logins")" class="bnt btn-warning">Back to Login</a>
        </div>

    </div>

</div>
